.App {
  
  color: white;
  text-shadow: #282c3d;
  font-family: Lato,sans-serif;
}

#content {
  border-color: red;
}

#headTitle {
  text-align: center;
  font-family: sax-mono, monospace;
  font-style: normal;
  font-weight: 400;
}

span{
  height: 100px; /*definir altura y ancho*/
  width: 12%;

  margin-left: 43.5%; /*centrar contenedor */
  margin-right: auto;

  border-radius: 40%; 
  
  display: flex;
  justify-content: center;  /*Centrar texto*/
  align-items: center;
  
  font-size: 32pt; 
  text-shadow: 3em black;

  background-color:#eb6841;
  border-style: solid;
  color: #cc333f;
  /* 
  fuera in
  #cc333f #eb6841 #edc951
  min-height ????
  position: absolute;
  position:absolute;
  */

}

div.Rectangles {
  margin-left: 37%;
  margin-right: auto;
}

button {
  margin-top: 15px;
  
  margin-right: 50%;
  display: inline-block;
  justify-content: center;
}

#button-1{

  margin-left: 12.5%;


  background-color: initial;
  background-image: linear-gradient(-180deg, #00D775, #00BD68);
  border-radius: 5px;

  box-shadow: rgba(0, 0, 0, 0.1) 0 2px 4px;

  color: #FFFFFF;
  cursor: pointer;
  
  font-family: Inter,-apple-system,system-ui,Roboto,"Helvetica Neue",Arial,sans-serif;

  line-height: 44px;
  outline: 0;
  overflow: hidden;
  padding: 0 20px;
  pointer-events: auto;
  
  position: relative;
  text-align: center;
  touch-action: manipulation;
  user-select: none;
  -webkit-user-select: none;
  vertical-align: top;
  white-space: nowrap;
 
  z-index: 9;
  border: 0;
}
#button-2{

  margin-left: 10%;

  background: #e62143;
  border-radius: 11px;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  font-family: Mija,-apple-system,BlinkMacSystemFont,Roboto,"Roboto Slab","Droid Serif","Segoe UI",system-ui,Arial,sans-serif;
  font-size: 1.15em;
  font-weight: 700;
  justify-content: center;

  padding: .8em 1em;
  text-align: center;
  text-decoration: none;
  text-decoration-skip-ink: auto;
  text-shadow: rgba(0, 0, 0, .3) 1px 1px 1px;
  text-underline-offset: 1px;
  transition: all .2s ease-in-out;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  
  word-break: break-word;
  border: 0;
}

p, #Numero {
  color:#edc951;
  text-shadow: 10px;
}
